SHOPIFY_STORE=<your shop url id e.g. xqw1233-yn.myshopify.com>
SHOPIFY_API_URL=<https://xqw1233-yn.myshopify.com>
SHOPIFY_ACCESS_TOKEN=<your_shopify_access_token>
SHOPIFY_LOCATION_ID=<your_shopify_location_id>
CLD_API_URL=<cld_api_url>
CLD_USERNAME=<your_cld_username>
CLD_PASSWORD=<your_cld_password>
CLD_API_KEY=<your_cld_api_key>
CLD_CHANNEL=<your_channel e.g. same as SHOPIFY_STORE>
SHIPPING_NOTE=<optional shipping instructions note to add to all orders e.g. "Attention, veuillez utiliser un emballage sans logo CLD ....">
CRON_SEND_ALL_PRODUCTS=<true or false>
CRON_SYNC_STOCK=<true or false>
CRON_ORDERS_TO_CLD=<true or false>
RUN_BOOTSTRAP_SYNC=<true or false>
FULFILL_EXISTING_ORDERS=<true or false>
UPDATE_PRICE_AND_COST=<true or false — when true, product updates also sync variant price and cost per item>
PORT=<database_port e.g. 5432>